* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-size: 12pt;
  gap: 1rem;
  margin: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border: 10px gold ridge;
  background-color: rgb(26, 34, 34);
  text-align: center;
  align-items: center;
  /* justify-content: center; */
  color: white;
  height: 100%;
  width: 100%;
}

.card li {
  margin: 1rem;
  font-size: 12pt;
}

.pokeIMG {
  width: 75%;
  margin: 1rem;
  border-radius: 5px;
}

/* On Hover, make the pokeIMG go into the center of the page and expand double */
.pokeIMG:hover {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.75);
  z-index: 1000;
}

#nextPage {
  /* Hide the button */
  display: none;
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: lightblue;
  border-radius: 15px;
}


#pokemon-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

#pokemon-sets {
  width: 300px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: large;
  padding: 1rem;
  background-color: lightblue;
  border-radius: 15px;
}

.message {
  color: white;
  text-align: center;
  border: 5px solid gold;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .card .artist {
    font-size: 10pt;
  }

  .card .types {
    font-size: 10pt;
  }

}